<!DOCTYPE html>
<html lang="en">
<head>
	<title>FindMe - Coming soon</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="FindMe version beta will be released on 01/01/2020">
	<meta property="og:title" content="FindMe - Coming soon" />
	<meta property="og:image" content="/images/bg01.jpg">
	<meta property="og:description" content="FindMe version beta will be released on 01/01/2020">
	<meta property="og:url" content="https://findme.vn" />
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/countdowntime/flipclock.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="bg-img1 size1 overlay1 p-b-35 p-l-15 p-r-15" style="background-image: url('images/bg01.jpg');">
		<div class="flex-col-c p-t-160 p-b-215 respon1">
			<div class="wrappic1">
				{{!-- <a href="#">
					<img src="images/icons/logo.png" alt="IMG">
				</a> --}}
				<h3 class="l1-txt1 txt-center">
					<b>FIND ME</b>
				</h3>
			</div>

			<h3 class="l1-txt1 txt-center p-t-30 p-b-100">
				Coming Soon
			</h3>

			<div class="cd100"></div>

		</div>

		<!--  -->
		<div class="flex-w flex-c-m p-b-35">
			<a href="https://facebook.com/ducthangwru" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
				<i class="fa fa-facebook"></i>
			</a>

			<a href="tel:086 88 55 001" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
				<i class="fa fa-phone"></i>
			</a>

			<a href="https://github.com/ducthangwru" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
				<i class="fa fa-github"></i>
			</a>
		</div>
	</div>



	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/flipclock.min.js"></script>
	<script src="vendor/countdowntime/moment.min.js"></script>
	<script src="vendor/countdowntime/moment-timezone.min.js"></script>
	<script src="vendor/countdowntime/moment-timezone-with-data.min.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>

	<script>
		$('.cd100').countdown100({date : "01/01/2020 00:00:00"});

		
	</script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>